<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="bits.draw3d" >

    <uses-feature android:glEsVersion="0x00030000" android:required="true"/>

    <application
        android:allowBackup="false"
        android:label="AdrawTest"
        android:theme="@style/AppTheme" >

        <activity
            android:name="android.app.Activity"
            android:label="activity" >
        </activity>
    </application>

</manifest>